html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: #1b2831;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before, &:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1 {
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 36px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

header, section {
  max-width: 1160px;
  margin: 0 auto;
  padding: 56px 0;
}

form {
  border-radius: 8px;
  padding: 24px;
  background-color: #2b383f;
}

input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding: 0 12px;
  border: 1px solid #4f5e65;
  border-radius: 4px;
  font-size: 14px;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  transition: all 275ms;
  &:focus {
    border-color: #31c3a2;
  }
}

button {
  min-width: 70px;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background-color: #31c3a2;
  color: #ffffff;
  cursor: pointer;
  transition: all 275ms;
}


section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .report {
    padding: 0 15px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  text-align: left;
}

th {
  padding: 12px 10px;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #4F5E65;
}

td {
  padding: 10px;
  font-size: 14px;
  color: #E3E8EB;
  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: right;
  }
}

a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  color: #BDC2C4;
  transition: all 275ms;
}
